html {
    height: 100%;
}

body {
    background-color: #bedadbbb;
    height: 100vh;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}


#main-box {
    background-color: rgba(170, 170, 170, 0);
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#box1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    height: 100px;
    font-size: larger;
}

#box2 {
    background-color: rgb(238, 238, 238);
    height: auto;
    min-height: 100px;
}

#box3 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    height: 100px;
    gap: 10px;
}

